<!DOCTYPE html>
<html>
  <head>
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css')}}"
      rel="stylesheet"
    />
    <title>Hello users!</title>
  </head>
  <body>
    <form action="/users" method="get">
      <input type="search" name="term" value="{{ search }}" />
      <input type="submit" value="Search" />
    </form>
    <table>
      {% for user in users %}
      <tr>
        <td>
          <li>{{ user }}</li>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div>
      <a class="button" href="http://127.0.0.1:5000/users/new">Добавить</a>
    </div>
  </body>
</html>
