<!DOCTYPE html>
<html>
  <head>
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css')}}"
      rel="stylesheet"
    />
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <title>Hello users!</title>
  </head>
  <body>
    <form action="/users" method="get">
      <input type="search" name="term" value="{{ search }}" />
      <input type="submit" value="Search" />
    </form>
    <table>
      {% for user in users %}
      <tr>
        <td>
          <li>{{ user }}</li>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div>
      <a class="button" href="{{ url_for('users_new') }}">Добавить</a>
    </div>
  </body>
</html>
