<!-- templates/users/new.html -->
<form action="/users" method="post">
  <div>
    <label>
      Nickname
      <input type="text" name="nickname" value="{{ user.nickname }}" />
    </label>
  </div>
  <div>
    <label>
      Email
      <input type="email" required name="email" value="{{ user.email }}" />
    </label>
  </div>
  <div>
    <label>
      Город
      <select name="city">
        <option value="{{ user.city }}">Москва</option>
        <option value="{{ user.city }}">Пенза</option>
        <option value="{{ user.city }}">Томск</option>
      </select>
    </label>
  </div>
  <input type="submit" value="Sign Up" />
</form>
